<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
            </mode>
        </csp>

        <trustcaptcha>
            <general>
                <enabled>1</enabled>
                <integration_mode>native</integration_mode>
                <site_key></site_key>
                <secret_key></secret_key>
                <license_key></license_key>
                <threshold>0.5</threshold>
                <width>fixed</width>
                <language>auto</language>
                <theme>light</theme>
                <autostart>1</autostart>
                <privacy_url></privacy_url>
                <hide_branding>0</hide_branding>
                <invisible>0</invisible>
                <invisible_hint>right-border</invisible_hint>
                <mode>standard</mode>
                <custom_translations></custom_translations>
                <custom_design></custom_design>
            </general>
            <forms>
                <enable_login>1</enable_login>
                <enable_register>1</enable_register>
                <enable_forgot>1</enable_forgot>
                <enable_contact>1</enable_contact>
                <enable_review>1</enable_review>
                <enable_sendfriend>1</enable_sendfriend>
                <enable_wishlist_share>1</enable_wishlist_share>
                <enable_order_lookup>1</enable_order_lookup>
            </forms>
        </trustcaptcha>
    </default>
</config>
