<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Captcha\Helper\Data">
        <plugin name="trustcaptcha-helper-data"
                type="TrustComponent\TrustCaptcha\Plugin\Helper\CaptchaDataPlugin"/>
    </type>
    <type name="Magento\Framework\Message\Manager">
        <plugin name="trustcaptcha-captcha-message"
                type="TrustComponent\TrustCaptcha\Plugin\Message\CaptchaErrorMessagePlugin"
                sortOrder="10"/>
    </type>
</config>
